* {
    background-color: rgba(255, 255, 219, 0.832);
    margin: 1rem;
}

h1 {
    font-size: 3rem;
}

.nav {
    background-color: rgb(0, 0, 255);
    background-color: #050;
    background-color: #ff77aa;
    background-color: #a7f;
    background-color: yellowgreen;
    border: solid 5px lime;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
    flex-wrap: wrap;
}

a {
    font-size: 4rem;
}

